@import 'src/sass/all';


:host{
  @include pos(absolute, 0, 0, unset, 0);
  @include flex();
  @include font('Rajdhani', rgba(black, .5), 4rem, 1.5, bold);
  min-height: 99.5vh;
  align-items: center;
  justify-content: center;
  p{
    @include pos(fixed);
    @include inline-flex();
    @include marg(0);
    max-width: 80%;
  }
}
