/** Mobile **/
$_breakpoint-mobile-max-width: 812px;
/************/

/** Tablet **/
$_breakpoint-tab-min-width: $_breakpoint-mobile-max-width + 1px;
$_breakpoint-tab-max-width: $_breakpoint-tab-min-width;
/************/

/**Laptop **/
$_breakpoint-laptop-min-width: $_breakpoint-tab-max-width;
/***********/

////////////////////////////
@mixin for-mobile {
  @include breakpoint("mobile") {
      @content;
  }
}

@mixin for-tab {
  @include breakpoint("tab") {
      @content;
  }
}

@mixin for-laptop {
  @include breakpoint("laptop") {
      @content;
  }
}

@mixin breakpoint($point: "default", $device: all) {
  @if $point == "mobile" {
      @include at-most($_breakpoint-mobile-max-width, $device: screen) {
          @content;
      }
  } @else if $point == "tab" {
      @include between($_breakpoint-tab-min-width, $_breakpoint-tab-max-width, $device: screen) {
          @content;
      }
  } @else if $point == "laptop" {
      @include at-least($_breakpoint-laptop-min-width, $device: screen) {
          @content;
      }
  } @else {
      @content;
  }
}

@mixin at-least($device-width, $device: screen) {
  @media #{$device} and (min-width: $device-width) {
      @content;
  }
}

@mixin between($device-min-width, $device-max-width, $device: screen) {
  @media #{$device} and (min-width: $device-min-width) and (max-width: $device-max-width) {
      @content;
  }
}

@mixin at-most($device-width, $device: screen) {
  @media #{$device} and (max-width: $device-width) {
      @content;
  }
}
////////////////////////////
