@import 'src/sass/all';


.ashetm-wallet{
  @include size(100%, auto);
  @include flex-row;
  min-height: 100vh;
  &__nav{
    @include flex-col;
    @include size(20%, auto);
    max-width: 250px;
    border-right: 1px solid rgba(black, .25);
  }
  &__wallet{
    @include pos();
    @include size(auto);
    flex-grow: 1;
    background-color: white;
  }
}
