@import 'src/sass/all';


:host{
  @include size(300px, auto);
  @include inline-flex(row wrap);
  @include marg(12px, auto);
  .key{
    @include size(80px);
    @include flex();
    @include marg(5px, auto);
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid rgba(#555, .5);
    border-radius: 3px;
    cursor: pointer;
  }
}
