@import 'src/sass/all';


:host{
  @include flex-col;
  .client{
    @include flex-col;
    &-receiver{
      order: 3;
      select{}
    }
    &-sender{
      order: 1;
      span{}
      input[type="text"]{}
    }
  }
  span{
    order: 2;
  }
  input[type="submit"]{
    order: 3;
  }
}
