@import 'src/sass/all';


:host{
  @include size(100%);
  @include inline-flex-col;
  @include marg(auto);
  align-content: center;
  justify-content: center;
  input{
    @include size(300px, 48px);
    @include marg(0, auto);
    font-size: 5rem;
    box-sizing: border-box;
  }
}
